.contact-detail {
  width: 60%;
  height: 400px;
  padding: 1rem;
  border: 2px solid darkgrey;
  border-radius: 5%;

  .detail-header {
    color: #0A2388;
  }

  .detail-action {

    button {
      text-align: center;

      width: 5rem;
      color: #fff;
    }

    .btn {
      background-color: #0A2388;
    }

    .btn-save {
      background-color: darkgreen;
    }
  }
}
