<div class="contact-detail d-flex flex-column justify-content-between">
  <div class="detail-header">
    <h1>Contact detail</h1>
  </div>
  <div class="detail-body d-flex flex-column" [formGroup]="contactInfo">
    <label for="firstname" class="d-flex flex-column">
      <span>Firstname</span>
      <input type="text" id="firstname" formControlName="firstname">
    </label>
    <label for="lastname" class="d-flex flex-column">
      <span>Lastname</span>
      <input type="text" id="lastname" formControlName="lastname">
    </label>
    <label for="telephone" class="d-flex flex-column">
      <span>Telephone</span>
      <input type="text" id="telephone" formControlName="telephone">
    </label>
    <label for="email" class="d-flex flex-column">
      <span>Email</span>
      <input type="email" id="email" formControlName="email">
    </label>
  </div>
  <div class="detail-action w-100 d-flex justify-content-between">
    <button class="btn" (click)="editContact.emit()">Edit</button>
    <button class="btn btn-save" (click)="saveContact.emit(contactInfo)" [disabled]="!contactInfo.valid">Save</button>
  </div>
</div>
