.landing-layout {
    width: 100vw;
    height: 100vh;
    background: rgb(0,103,164);
    background: linear-gradient(90deg, rgba(0,103,164,1) 0%, rgba(9,9,121,1) 19%, rgba(17,189,224,1) 100%);
    overflow: hidden;
}
