<div class="address-page d-flex">
  <div class="contacts-list d-flex flex-column align-items-center">
    <div class="header">
      <h1>Contacts</h1>
    </div>
    <hr />
    <div class="list d-flex flex-column align-items-start w-100">
      <ng-container *ngFor="let contact of contacts">
        <app-contact-card class="w-100" [contact]="contact" (selectedContact)="setSelectedContact($event)" (deleteContact)="deleteContact($event)"></app-contact-card>
      </ng-container>
    </div>
  </div>
  <div class="contact-detail">
    <app-contact-detail></app-contact-detail>
  </div>
</div>
