<div class="contact-card d-flex flex-column align-items-start w-100" (click)="selectedContact.emit(contact)">
  <div class="contact-header">
    <h4>{{contact.firstname}}</h4>
  </div>
  <div class="contact-body d-flex flex-column w-100">
    <p>{{contact.telephone}}</p>
    <div class="d-flex justify-content-between">
      <p id="email">{{contact.email}}</p>
      <div class="contact-action">
        <img alt="trash-icon" [src]="svgIcon.TRASH_ICON" (click)="deleteContact.emit(contact.id)"/>
      </div>
    </div>
  </div>
</div>
